body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #ededed;
  margin-bottom: 50px;
}

.p-linespacing {
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 30px; /* 4px +12px + 4px */
}

.p-1 {
  font-size: 12px;
}

.image {
  height: 400px;
  width: 500px;
}

.description-content {
  background-color: white;
  padding: 50px;
}

.visualization-content {
  background-color: white;
  padding: 50px;
}

.visualization-image {
  height: 150px;
  width: 130px;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 160px;
  height: 140px;
  background: none;
}

/* On screens that are 750px or less, set the background color to white */
@media only screen and (max-width: 750px) {
  body {
    background-color: #fff;
    padding: 0px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 750px) {
  .navbar-expand-lg {
    background-color: rgb(14, 162, 189) !important;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar-brand {
    padding: 10px !important;
  }
}
